@model Starfleet.Ops.Controllers.MainMenuViewModel

@{
    ViewBag.Title = "Main Menu";
    Layout = "_Layout";
}
<style>
    .main-menu {
        font-family: monospace;
    }
</style>

<div class="main-menu">
<h1>Starfleet Ops</h1>
<h5>Main Menu</h5>

    <ul>
        <li>
            @foreach (var item in Model.OpenGames)
            {
                <a href="@Url.Action("ResumeGame", "Game",new{id=item.Id})">Join Game @item.Name</a>
            }
        </li>
        <li>
            <a href="@Url.Action("Index", "GameStateSpecificationBuilder")">New Game 
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "FileBrowser")">
                Rule File Browser
            </a>
        </li>
    </ul>
</div>